include mead/config/iwslt15-en-vi-pyt.json
include mead/config/sst2-pyt.yml
include mead/config/ptb-kim-adam.yml
include mead/config/wnut-single-no-crf.json
include mead/config/sst2-lstm-char.json
include mead/config/ptb-transformer-chars.yml
include mead/config/docker-settings.json
include mead/config/ag-news-single-lstm.json
include mead/config/snips-intent.json
include mead/config/ag-news.json
include mead/config/sst2-nogpu-pyt.yml
include mead/config/sst2-elmo-hub.json
include mead/config/wnut-no-crf.json
include mead/config/mead-settings.json
include mead/config/word-char-sst2-tf.yml
include mead/config/trec-demolib.yml
include mead/config/twpos.json
include mead/config/sst2-single-lstm-dy-ab.yml
include mead/config/iwslt15-en-vi-transformer.json
include mead/config/wnut-single.json
include mead/config/sst2-residual-conv.json
include mead/config/sst2-bert-finetune-pytorch.json
include mead/config/glove-embed.json
include mead/config/sst2-bert.json
include mead/config/wnut.json
include mead/config/gn-embed.json
include mead/config/conll-single-tf.json
include mead/config/conll-single-dy-ab.json
include mead/config/wnut-pyt.json
include mead/config/twpos-dy-autobatch.json
include mead/config/logging.json
include mead/config/ptb-small-tf.json
include mead/config/sst2-wandb.json
include mead/config/ptb-convchar.json
include mead/config/sst2-bert-pytorch.json
include mead/config/trec-lstm.yml
include mead/config/sst2-fine-tune-bert.json
include mead/config/mrda-hier.json
include mead/config/snips.json
include mead/config/sst2-txl-pytorch.json
include mead/config/iwslt15-en-vi.json
include mead/config/sst2-bert-hub.json
include mead/config/sst2-rnf-pyt.yml
include mead/config/sst2-sepcnn-keras.yml
include mead/config/trec-cnn.yml
include mead/config/wnut-elmo.json
include mead/config/sst2-keras.yml
include mead/config/iwslt15-luong.json
include mead/config/conll-trans.json
include mead/config/mrda.json
include mead/config/word-char-sst2-pyt.yml
include mead/config/sst2-dy.yml
include mead/config/elmo-hub-embed.json
include mead/config/ag-news-lstm.json
include mead/config/sst2-nbow-keras.yml
include mead/config/sst2-bert-hub-maxmean.json
include mead/config/mp-settings.json
include mead/config/embeddings.json
include mead/config/sst2-demolib.yml
include mead/config/conll-no-crf.json
include mead/config/sst2.json
include mead/config/reverse.json
include mead/config/wmt-de-en-luong.json
include mead/config/sst2-estimator.json
include mead/config/sst2-elmo.json
include mead/config/remote-settings.json
include mead/config/reverse-transformer.json
include mead/config/sst2-lstm.json
include mead/config/sst2-lstm-840b.json
include mead/config/sst2-bert-finetune.json
include mead/config/sst2-lstm-keras.yml
include mead/config/conll.json
include mead/config/conll-elmo-hub.yml
include mead/config/sst2-bert-mean.json
include mead/config/datasets.json
include mead/config/sst2-lstm-pyt.yml
include mead/config/wnut-gazetteer.json
include mead/config/conll-single.json
include mead/config/sst2-lstm-nolengths.json
include mead/config/sst2-elmo-large.json
include mead/config/conll-cnn.yml
include mead/config/iwslt15-en-vi-dy.json
include mead/config/ptb-transformer.json
include mead/config/twpos-blstm-lan.json
include mead/config/ontonotes.json
include mead/config/conll-elmo.yml
include mead/config/ptb-med.json
include mead/config/dbpedia.json