<html>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $BASE = "/hpctl/v1"
    </script>


    <body>
        <h1 id="title">{{exp_hash}}</h1>

        <script>
		$(document).ready(function(){
			$("#hpctl_config").click(function(){
                $.getJSON($SCRIPT_ROOT + $BASE + "/config/{{exp_hash}}", function(data, status){
                    $("#hpctl_config_result").html(JSON.stringify(data, null, 2));
				});
			});
		});

        function display() {
            $.getJSON($SCRIPT_ROOT + $BASE + "/demo_data/{{exp_hash}}", function(data, status){
				console.log(data);
                $("#labels").empty()
                for (var i = 0; i < data.names.length; i++) {
                    var line = "<p>" + data.status[i] + " " + data.names[i] + " train (avg_loss): " + data.train[i] + " at Step:  " + data.train_ticks[i] + " dev (f1): " + data.valid[i] + " at Epoch: " + data.valid_ticks[i];
                    $("#labels").append(line);
                    var button = '<button class="kill" id="kill-' + i + '"data-exp="' + data.exp[i] + '" data-sha1="' + data.sha1[i] + '" data-name="' + data.names[i] + '" onClick="killJob(this.id)">Kill</button>';
					$("#labels").append(button);
                    var button = '<button class="config" id="config-' + i + '"data-exp="' + data.exp[i] + '" data-sha1="' + data.sha1[i] + '" data-name="' + data.names[i] + '" onClick="getConfig(this.id)">Config</button>';
					$("#labels").append(button);
                    var button = '<button class="xpctl" id="xpctl-' + i + '"data-exp="' + data.exp[i] + '" data-sha1="' + data.sha1[i] + '" data-name="' + data.names[i] + '" onClick="postXpctl(this.id)">xpctl</button>'
					$("#labels").append(button);
                }
            });
        }

        $(document).ready(function(){
            display()
            setInterval(display, 5000);
        });

		function getConfig(id) {
            var button = document.getElementById(id);
            var exp = button.dataset.exp;
            var sha1 = button.dataset.sha1;
            var name = button.dataset.name;
            $.getJSON($SCRIPT_ROOT + $BASE + "/config/" + exp + "/" + sha1 + "/" + name, function(data, status){
				console.log(data)
				$("#model_config").html(JSON.stringify(data.config, null, 2));
			});
		}

		function killJob(id) {
            var button = document.getElementById(id);
            var exp = button.dataset.exp;
            var sha1 = button.dataset.sha1;
            var name = button.dataset.name;
			$.ajax({
				type: "POST",
				url: $SCRIPT_ROOT + $BASE + "/kill/" + exp + "/" + sha1 + "/" + name,
				dataType: "json",
				contentType: "application/json"
			});
		}

        function postXpctl(id) {
            var button = document.getElementById(id);
            var exp = button.dataset.exp;
            var sha1 = button.dataset.sha1;
            var name = button.dataset.name;
            $.ajax({
                type: "POST",
                url: $SCRIPT_ROOT + $BASE + "/xpctl/putresult/" + exp + "/" + sha1 + "/" + name,
                dataType: "json",
                contentType: "application/json"
            });
        }



        </script>

        <div id="labels"></div>

        <pre id="model_config"></pre>

        <button type="button" id="hpctl_config">Sample Config</button>
        <pre id="hpctl_config_result"></pre>
        <p id='demo'> </demo>


    </body>

</html>
