<html>

    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    </head>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      $BASE = "/hpctl/v1"
    </script>

    <script>
    function display() {
        $.getJSON($SCRIPT_ROOT + $BASE + "/experiments", function(data, status) {
            console.log(data);
            $("#experiments").empty()
            for (var i = 0; i < data.experiments.length; i++) {
                var line = '<p><a href="' + $SCRIPT_ROOT + $BASE + '/demo_page/' + data.experiments[i] + '">' + data.experiments[i] + '</a></p>';
                console.log(line)
                $("#experiments").append(line);
            }
        });
    }

    $(document).ready(function(){
        display()
        setInterval(display, 5000);
    });
    </script>

    <body>
        <h1 id="title">HPCTL</h1>

        <div id="experiments"></div>
    </body>
</html>
