name: Unit Test

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  test-tf-1:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        tf-version:
        - 1.14.0
        - 1.15.0
    container: tensorflow/tensorflow:${{matrix.tf-version}}-py3
    steps:
    - uses: actions/checkout@v2
    - name: Install Baseline
      run: |
        cd layers
        pip install -e .
        cd ..
        pip install -e .[test,yaml]
    - name: Unit Test Tf ${{matrix.tf-version}}
      run: |
        pytest --forked

  test-tf-2-0:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        tf-version:
        - 2.0.0
    container: tensorflow/tensorflow:${{matrix.tf-version}}-py3
    steps:
    - uses: actions/checkout@v2
    - name: Install Baseline
      run: |
        cd layers
        pip install -e .
        cd ..
        pip install tensorflow_addons==0.6.0
        pip install -e .[test,yaml]
    - name: Unit Test Tf ${{matrix.tf-version}}
      run: |
        pytest --forked

  test-tf-2:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        tf-version:
        - 2.1.0
        - 2.2.0
        - 2.3.0
    container: tensorflow/tensorflow:${{matrix.tf-version}}-py3
    steps:
    - uses: actions/checkout@v2
    - name: Install Baseline
      run: |
        cd layers
        pip install -e .
        cd ..
        pip install tensorflow_addons==0.9.1
        pip install -e .[test,yaml]
    - name: Unit Test Tf ${{matrix.tf-version}}
      run: |
        pytest --forked

  test-pyt:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        pyt-version:
        - 1.3-cuda10.1-cudnn7-runtime
        - 1.4-cuda10.1-cudnn7-runtime
        - 1.5-cuda10.1-cudnn7-runtime
        - 1.6.0-cuda10.1-cudnn7-runtime
    container: pytorch/pytorch:${{matrix.pyt-version}}
    steps:
    - uses: actions/checkout@v2
    - name: Install Baseline
      run: |
        cd layers
        pip install -e .
        cd ..
        pip install -e .[test,yaml]
    - name: Unit Test PyTorch ${{matrix.pyt-version}}
      run: |
        pytest --forked
